body {
    display: flex;
    background-color: #E4E9F7;
}

.containerSection {
    width: 100vw;
    align-items: center;
}

.containerMain {
    padding: 2%;
    display: flex;
}

.containerMainCadastro {
    border: solid 1px;
    border-radius: 5px;
    padding: 4%;
    background-color: rgb(232, 235, 238);
}

.containerForm {
    align-items: center;
    display: flex ;
    flex-direction: column;
}

.inputForm {
    width: 100%;
    padding: 3%;
    margin: 1%;
}

.imageForm {
    max-width: 50%;
    max-height: 400px;
    margin: 1%;
}

.containerButton {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.btnInserirImagem {
    background-color: #3C4C8F;
    border: none;
    border-radius: 5px;
    width: 35%;
    height: 3em;
    color: #E4E9F7;
}

.btnCadastrar {
    background-color: #3C4C8F;
    border: none;
    border-radius: 5px;
    width: 35%;
    height: 3em;
    color: #E4E9F7;
}

.containerSub{
    margin: 10%;
}

.containerPreview {
    border: solid 1px;
    border-radius: 5px;
    padding: 5%;
}

.btnVoltar {
    background-color: #3C4C8F;
    border: none;
    border-radius: 50px;
    width: 10%;
    height: 3em;
    color: #E4E9F7;
    position: absolute;
    left: 65%;
}