body {
    display: flex;
    background-color: #E4E9F7;
}

.containerMain {
    display: flex;
    flex-wrap: wrap;
}

.link{
    text-decoration: none;
    color: #ffffff; 
}

.link:hover {
    color: #ffffff;
}

.containerCompeticao {
    border: solid 3px;
    padding: 3%;
    margin: 1%;
}

.containerCompeticao a{
    text-decoration: none;
    color: #131C46;
    font-size: 1.5em;
}

.btnMain {
    background-color: #131C46;
    border: none;
    width: 35%;
    height: 3em;
}

.alertSuccess {
    color: green;
    background-color: rgb(190, 240, 190);
    border: none;
    border-radius: 10px;
    width: 40%;
    text-align: center;
}

.alertDanger {
    color: rgb(128, 0, 0);
    background-color: rgb(240, 190, 190);
    border: none;
    border-radius: 10px;
    width: 40%;
    text-align: center;
}
